NODE_ENV=development
PORT=8085
FRONTEND_BASE_URL=
AWS_SECRET_REGION_NAME=
AWS_SECRET_ID=
AWS_SECRET_KEY_ID=
AWS_ACCESS_KEY_ID=
AWS_BUCKET_NAME=
AWS_REGION_NAME=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
COMPANY_NAME=
COMPANY_LINK=
COMPANY_LOGO=
COMPANY_EMAIL=
JWT_SECRET=UmTz9QngQnMHQfjJLv9tI72SAgNoTu
DB_USER_NAME=root
DB_PASSWORD=admin
DB_NAME=datashelf
DB_HOST=localhost
ALLOWED_CORS=
